@page "/datasearch"
@page "/dataanalysis"
@page "/datavisualization"
@page "/sqldirectsearch"

<div class="row">
    <div class="col">
        <h5>Page is under construction. </h5>
    </div>
</div>

<ReportSelection />