@using System.Globalization
@inject IConfiguration configuration
@inject NavigationManager navigation

@if(cultures is not null)
{
    <li class="nav-item dropdown mt-3" role="button">
        <span class="nav-link" data-toggle="dropdown" aria-expanded="false" title="@CurrentCultureTitle()">
            <img src="images/locales/@(CultureInfo.CurrentCulture.Name).png" style="max-height:38px; max-width: 38px;" alt="Localization Culture" />
        </span>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
            @foreach (KeyValuePair<string, string> item in cultures)
            {
                <span class="dropdown-item" @onclick="@(() => CultureChanged(item.Key))">
                    <i class="fas fa-language mr-2"></i> @item.Value
                    <span class="float-right text-muted text-sm"><img src="images/locales/@(item.Key).png" style="max-height:30px; max-width: 30px;" alt="Localization Culture" /></span>
                </span>
            }
        </div>
    </li>
}

@code {

    private Dictionary<string, string> cultures = null;

    protected override async Task OnInitializedAsync()
    {
        cultures = configuration.GetSection("Cultures").GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }
    private string CurrentCultureTitle()
    {
        return cultures.FirstOrDefault(c => c.Key == CultureInfo.CurrentCulture.Name).Value;
    }
    private void CultureChanged(string culture)
    {
        var uri = new Uri(navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var cultureEscape = Uri.EscapeDataString(culture);
        var uriEscaped = Uri.EscapeDataString(uri);

        navigation.NavigateTo($"Culture/Set?culture={cultureEscape}&redirectUri={uriEscaped}", forceLoad: true);
    }
}
