@using DSRSystem.Store
@implements IDisposable
@inject IAppState appState
@rendermode InteractiveServer

@if (show)
{
    <div class="alert @appState.GetNotification().AlertClass alert-dismissible" role="alert">
        <div>@appState.GetNotification().Message</div>
        <button type="button" class="close" @onclick="Hide">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code {
    private bool show { get; set; } = false;

    protected override void OnInitialized()
    {
        appState.OnChange += ShowError;
    }
    private void ShowError()
    {
        show = true;
        this.StateHasChanged();

        var timer = new Timer(new TimerCallback(_ =>
        {
            InvokeAsync(() =>
            {
                Hide();
                StateHasChanged();
            });
        }), null, TimeSpan.FromSeconds(10), TimeSpan.FromSeconds(10));
    }
    private void Hide()
    {
        show = false;
    }
    public void Dispose()
    {
        appState.OnChange -= ShowError;
    }
}
