@implements IDisposable
@inject IAppState appState

@if (appState is not null && appState.GetNotification() is not null)
{
    <div class="alert @appState.GetNotification().AlertClass alert-dismissible" role="alert">
        <div>@appState.GetNotification().Message</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        appState.OnChange += StateHasChanged;
    }
    
    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }
}
