@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="switch" title="dark/light mode">
    <label for="toggle">
        <input id="toggle" class="toggle-switch" type="checkbox" @onchange="ThemeToggleClicked" />
        <div class="sun-moon"><div class="dots"></div></div>
        <div class="background"><div class="stars1"></div><div class="stars2"></div></div>
    </label>
</div>

@code {
    private async Task ThemeToggleClicked()
    {
        await JS.InvokeVoidAsync("ThemeToggleClicked");
    }
}
