@if (this.Notification is not null && this.Notification.Type is not null)
{
    <div class="alert @this.Notification.AlertClass alert-dismissible" role="alert">
        <div>@Notification.Message</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code {
    [Parameter]
    public Notification Notification { get; set; } = null;
}
