<div class="spinner-border @getClass()" role="status">
    @* <span class="visually-hidden">Loading...</span> *@
</div>

@code {
    [Parameter]
    public bool IsSmall { get; set; } = false;

    private string getClass()
    {
        if(IsSmall)
        {
            return "spinner-border-sm";
        }
        
        return "";
    }
}