@page "/documentadmin"

<h3>AdminPanel</h3>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Tutorial Management</h3>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
    </div>
</div>
@code {

}
