@page "/"
@using DSRSystem.Locales
@inject IStringLocalizer<Resource> localizer

<PageTitle>Deco Smart Recharging System</PageTitle>

<h1>@localizer["HomeText"]</h1>

<img src="dist/img/DECOLogo.png" alt="DECO Logo" class="brand-image" style="opacity: 0.9;">

@* Axle
Welcome to your new app.
<br/>
Current Culture: @Thread.CurrentThread.CurrentCulture
<br/>
Current UI Culture: @Thread.CurrentThread.CurrentUICulture
 *@