@page "/"
@using AxleLoadSystem.Locales
@inject IStringLocalizer<Resource> localizer

<PageTitle>Home</PageTitle>

<h1>@localizer["HomeText"]</h1>

Welcome to your new app.
<br/>
Current Culture: @Thread.CurrentThread.CurrentCulture
<br/>
Current UI Culture: @Thread.CurrentThread.CurrentUICulture

<br />
<br />

<AxleLoadSystem.Components.Modules.User.ReportSelection/>