/*Side bar backgroud*/
.layout-fixed .main-sidebar {
    background-image: url("../images/parretn_spiral.png");
    background-size: 400px 400px;
}
.layout-fixed.dark-mode .main-sidebar {
    background-color: rgba(34, 39, 43, 1) !important;
    /*background-color: rgba(23, 26, 28, 1) !important;*/
    /*background-color: rgba(69, 77, 85, 1) !important;*/
}
.layout-fixed .main-sidebar {
    background-color: rgba(34, 39, 43, 1) !important;
    /*background-color: rgba(23, 26, 28, 1) !important;*/
    /*background-color: rgba(69, 77, 85, 1) !important;*/
}

.content-wrapper {
    /*background-image: url("../images/parretn_spiral.png");
    background-size: 400px 400px;*/
}
.main-header {
    /*background-image: url("../images/pattern_circle.png");
    background-size: 200px 200px;*/
}

/*Side bad hover color*/
.nav-item:hover .nav-icon {
    color: #FF5800 !important;
}
.brand-link:hover > img {
    border: 1px solid #FF5800;
}
.brand-link:hover > span {
    color: whitesmoke;
}

/*Chrome calendar color*/
.dark-mode ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*Chrome input backgroud color for auto fill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

/*Apex Chart*/
.dark-mode .apexchart .apexcharts-legend-text, .dark-mode .apexchart .apexcharts-title-text {
    color: white !important;
    fill: white !important;
}
.dark-mode .apexchart .apexcharts-text * {
    color: white !important;
    fill: white !important;
}
.dark-mode .apexcharts-menu.apexcharts-menu-open {
    background-color: rgba(0,0,0,0.2) !important;
    border: 1px solid black;
}
    .dark-mode .apexcharts-menu.apexcharts-menu-open .apexcharts-menu-item:hover{
        background-color:rgba(0,0,0,0.2);
    }

.dark-mode > .apexcharts-legend-series{
    color:white;
}

.dark-mode > .apexcharts-text {
    color: white;
}

.dark-mode .apexcharts-tooltip, .dark-mode .apexcharts-tooltip-series-group.apexcharts-active {
    background-color: rgba(0,0,0,0.2) !important;
    border: 1px solid black;
}
.dark-mode .apexcharts-tooltip .apexcharts-tooltip-title {
    color: black;
}



/*Apex chart dark theme issue code from net*/
/*.dark-mode .apexcharts-text {
    fill: #fff;
}

.dark-mode .apexcharts-tooltip,
.dark-mode .apexcharts-tooltip-title {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
}

.dark-mode .apexcharts-legend-text {
    color: #fff !important;
    border: 1px solid #555 !important;
}*/
/*Apex chart dark theme issue code from net*/