@page "/"
@using AxleLoadSystem.Locales
@inject IStringLocalizer<Resource> localizer

<PageTitle>Home</PageTitle>

<h1>@localizer["HomeText"]</h1>

Welcome to your new app.

@Thread.CurrentThread.CurrentCulture;
@Thread.CurrentThread.CurrentUICulture;

<br />
<br />

<AuthorizeView>
    <Authorized>Authorized view</Authorized>
    <NotAuthorized>Not Authorized view</NotAuthorized>
</AuthorizeView>
